html,body{
   
    font-size: 1.2rem;
    // background-color: red;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.829), rgb(0, 0, 0)), url('../images/bg_img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

header {
    .header{
        height: 80px;        
        .navbar{
            overflow: hidden;
            position: relative;
            height: 100%;
            .logo{
                position: fixed;
                top: 0%;

                img{width: 120px;}
            }
            .nav-links{
                float: right;
                position: absolute;
                right: 5%;
                ul .tablinks{
                    color: #fff;
                    transition: .2s ease;
                    &.active{
                        color: $pry-color;
                        border-bottom: 3px solid #fff;
                    }
                }
            }
            button{
                display: block;
                position: fixed;
                top: 3%;
                right: 18%;
                border: none;
                background-color: transparent;
                font-size: 1.3rem;
                color: $pry-color;
                display: none;
            }
        }
    }
}
main .main-content{
    .showcase{
        width: 85%;
        // height: 600px;
        margin: 4rem auto;
        padding: 0rem .9rem;
        // position: relative;

        .text{
            width: 60%;
            overflow: hidden;
            font-family: 'Trebuchet MS';
            padding-top: 3rem;

            h1{
                font-style: 1.5rem;
                color: #fff;
                span{
                    color: $pry-color;
                    font-family: Consolas;
                }
            }

            h3{
                font-size: 1rem;
                color: #ffffffb2;
            }

            button{
                margin-top: 3rem;
                border: none;
                background-color: transparent;
                padding: .2rem 0;
                color: #fff;
                border-bottom: 3px solid $pry-color;
            }
        }
        .profile{
            position: absolute;
            top: 10%;
            right: 8%;
            width: 35%;
            margin-left: 5%;
            overflow-y: hidden;

            .design{
                display: flex;
                justify-content: center;
                align-items: center;
                // .img{
                //     margin-top: -5rem;
                // }
            }
            .prf-img{
                position: absolute;
                top: 0;
                filter: grayscale(1);
            }

        }
    }
    #Skills{
        h2{
            color:#fff;
            width: 200px;
            font-size: 1.5rem;
            margin: 0rem auto 0 auto;
            font-family: Consolas;
            // position: relative;
            &::after{
                content: "";
                width:200px;
                height: 3px;
                background-color: $pry-color;
                margin-top: .3rem;
                // position: absolute;
                display: block;
                border-bottom: 3px solid $pry-color;
                // z-index: -1;
            }
        }
        h3{
            margin-top: 1rem;
            font-size: 1rem;
            color: #ffffffb2;
            font-family: Consolas;
        }

        .tech-stack{
            width: 80%;
            margin: .5rem auto;

            .frontend ol li{
                color: #ffffffb2;
                position: relative;
                padding: 0rem 1rem;

                &::before{
                    content: '';
                    // display: inline;
                    position: absolute;
                    top: 43%;
                    left: 3%;
                    width: 8.5px;
                    height: 8.5px;
                    border-radius: 50%;
                    background-color: #008000;
                    margin-bottom: 1rem;
                }
            }
            .backend ol li{
                color: #ffffffb2;
                position: relative;
                padding: 0rem 1rem;

                &::before{
                    content: '';
                    // display: inline;
                    position: absolute;
                    top: 43%;
                    left: 3%;
                    width: 8.5px;
                    height: 8.5px;
                    border-radius: 50%;
                    background-color: #ff0000;
                    margin-bottom: 1rem;
                }
            }
            .framework ol li{
                color: #ffffffb2;
                position: relative;
                padding: 0rem 1rem;

                &::before{
                    content: '';
                    // display: inline;
                    position: absolute;
                    top: 43%;
                    left: 3%;
                    width: 8.5px;
                    height: 8.5px;
                    border-radius: 50%;
                    background-color: rgb(2, 140, 219);
                    margin-bottom: 1rem;
                }
            }
        }
        
        .progress_b
        {
            width: 100%;
            height: 180px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          
            .circular-progress,
            .circular-progress-backend,
            .circular-progress-framework {
                width: 140px;
                height: 140px;
                border-radius: 50%;
                margin-top: 0rem;
                position: relative;
                display: grid;
                place-items: center;
                // z-index: -1;
            
                &:before {
                    content: "";
                    position: absolute;
                    height: 84%;
                    width: 84%;
                    background-color: #000000f6;
                    border-radius: 50%;
                }
            
                .value-container,
                .value-container-backend,
                .value-container-framework {
                    position: relative;
                    font-family: "Poppins", sans-serif;
                    font-size: 30px;
                    font-weight: 700;
                    color: #dbdbdb;
                    // z-index: -1;
                }
            }
        }
        button{
            margin-top: 0rem;
            margin-left: 5%;
            border: none;
            background-color: transparent;
            padding: .2rem 0;
            color: #fff;
            border-bottom: 3px solid $pry-color;
        }
    }
    #Projects{
        h2{
            color:#fff;
            width: 200px;
            font-size: 1.5rem;
            margin: -3rem auto 0 auto;
            font-family: Consolas;
            // position: relative;
            &::after{
                content: "";
                width: 150px;
                height: 3px;
                background-color: $pry-color;
                margin-top: .3rem;
                margin-left: 1.2rem;
                position: absolute;
                display: block;
                border-bottom: 3px solid $pry-color;
            }
        }
        h3{
            margin-top: 1rem;
            font-size: 1rem;
            color: #ffffffb2;
            font-family: Consolas;
        }
        .projects_container .row .col-3{
            width: 33.3%;
            height: 194px;
            overflow: hidden;

            .div-content{
                width: 100%;
                height: 99%;
                position: relative;
                overflow: hidden;
                padding: .3rem;
                border-radius: 5px;
                transition: .3s ease-in-out;

                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    transition: .3s ease-in-out;
                }
                h6{
                    position: absolute;
                    top: -20%;
                    left: 15%;
                    padding: .2rem 0;
                    transition: .3s ease-in-out;   
                    a{
                        text-decoration: none;
                        color: transparent;
                    }              
                }

                &:hover{
                    transform: scale(1.02);
                    img{
                        border-radius: 5px;
                        
                        filter: blur(2px) brightness(60%);
                    }
                    h6{
                        top: 40%;
                        a{
                            color: #fff;
                            text-shadow: 0px 1px 2px #000;
                        }
                    }
                }
            }

        }
    }
    #Contact{
        .contact-info{
            width: 80%;
            margin: 1rem auto;

            h2{
                color:#fff;
                width: 200px;
                font-size: 1.5rem;
                margin: 1rem auto 0 auto;
                font-family: Consolas;
                // position: relative;
                &::after{
                    content: "";
                    width: 165px;
                    height: 3px;
                    background-color: $pry-color;
                    margin-top: .3rem;
                    margin-left: 0rem;
                    position: absolute;
                    display: block;
                    border-bottom: 3px solid $pry-color;
                }
            }
            h3{
                margin-top: 1rem;
                font-size: 1rem;
                color: #ffffffb2;
                font-family: Consolas;
            }
            .social-handles{
                width: 50%;
                margin: .3rem auto;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;

                .twitter-c,.facebook-c,.linkedin-c,.whatsapp-c,.google-c{
                    width: 45px;
                    height: 45px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 .3rem;
                    border-radius: 4px;

                    span{
                        color: #fff;
                        font-size: 1.3rem;
                        cursor: pointer;
                        filter: drop-shadow(0px 3px 4px #000);
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                }
                .twitter-c{background-color: #add8e6;}
                .facebook-c{background-color:#0000ff}
                .linkedin-c{background-color:#263bf5}
                .whatsapp-c{background-color: #00b600}
                .google-c{background-image: linear-gradient(to bottom right,#ff0000,#fcfc02,#007706);}

            }
            p{
                text-align: center;
                color: #ffffffb2;
                font-family: consolas;
                margin: 2rem 0;
                font-size: 1.3rem;
            }
        }   
    }
}

main .social_media {
    position: fixed;
    top: 2%;
    right: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    .git{
        width: 45px;
        height: 45px;
        background-color: #33333388;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;

        span{
            font-size: 1.4rem;
            color: $pry-color;
        }
    }
}

@import './mixins/mixin.scss';
@include index;