* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  overflow: hidden;
  padding: 1rem;
}
ul li {
  display: inline;
  margin-right: 0.8rem;
  cursor: pointer;
  padding: 0.2rem 0;
  font-family: Consolas;
}
ul li:hover {
  border-bottom: 1px solid #02e2aa;
}

h1, h2, h3, h4, h5, h6 {
  overflow: hidden;
}

html, body {
  font-size: 1.2rem;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.829), rgb(0, 0, 0)), url("../images/bg_img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

header .header {
  height: 80px;
}
header .header .navbar {
  overflow: hidden;
  position: relative;
  height: 100%;
}
header .header .navbar .logo {
  position: fixed;
  top: 0%;
}
header .header .navbar .logo img {
  width: 120px;
}
header .header .navbar .nav-links {
  float: right;
  position: absolute;
  right: 5%;
}
header .header .navbar .nav-links ul .tablinks {
  color: #fff;
  transition: 0.2s ease;
}
header .header .navbar .nav-links ul .tablinks.active {
  color: #02e2aa;
  border-bottom: 3px solid #fff;
}
header .header .navbar button {
  display: block;
  position: fixed;
  top: 3%;
  right: 18%;
  border: none;
  background-color: transparent;
  font-size: 1.3rem;
  color: #02e2aa;
  display: none;
}

main .main-content .showcase {
  width: 85%;
  margin: 4rem auto;
  padding: 0rem 0.9rem;
}
main .main-content .showcase .text {
  width: 60%;
  overflow: hidden;
  font-family: "Trebuchet MS";
  padding-top: 3rem;
}
main .main-content .showcase .text h1 {
  font-style: 1.5rem;
  color: #fff;
}
main .main-content .showcase .text h1 span {
  color: #02e2aa;
  font-family: Consolas;
}
main .main-content .showcase .text h3 {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6980392157);
}
main .main-content .showcase .text button {
  margin-top: 3rem;
  border: none;
  background-color: transparent;
  padding: 0.2rem 0;
  color: #fff;
  border-bottom: 3px solid #02e2aa;
}
main .main-content .showcase .profile {
  position: absolute;
  top: 10%;
  right: 8%;
  width: 35%;
  margin-left: 5%;
  overflow-y: hidden;
}
main .main-content .showcase .profile .design {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .main-content .showcase .profile .prf-img {
  position: absolute;
  top: 0;
  filter: grayscale(1);
}
main .main-content #Skills h2 {
  color: #fff;
  width: 200px;
  font-size: 1.5rem;
  margin: 0rem auto 0 auto;
  font-family: Consolas;
}
main .main-content #Skills h2::after {
  content: "";
  width: 200px;
  height: 3px;
  background-color: #02e2aa;
  margin-top: 0.3rem;
  display: block;
  border-bottom: 3px solid #02e2aa;
}
main .main-content #Skills h3 {
  margin-top: 1rem;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6980392157);
  font-family: Consolas;
}
main .main-content #Skills .tech-stack {
  width: 80%;
  margin: 0.5rem auto;
}
main .main-content #Skills .tech-stack .frontend ol li {
  color: rgba(255, 255, 255, 0.6980392157);
  position: relative;
  padding: 0rem 1rem;
}
main .main-content #Skills .tech-stack .frontend ol li::before {
  content: "";
  position: absolute;
  top: 43%;
  left: 3%;
  width: 8.5px;
  height: 8.5px;
  border-radius: 50%;
  background-color: #008000;
  margin-bottom: 1rem;
}
main .main-content #Skills .tech-stack .backend ol li {
  color: rgba(255, 255, 255, 0.6980392157);
  position: relative;
  padding: 0rem 1rem;
}
main .main-content #Skills .tech-stack .backend ol li::before {
  content: "";
  position: absolute;
  top: 43%;
  left: 3%;
  width: 8.5px;
  height: 8.5px;
  border-radius: 50%;
  background-color: #ff0000;
  margin-bottom: 1rem;
}
main .main-content #Skills .tech-stack .framework ol li {
  color: rgba(255, 255, 255, 0.6980392157);
  position: relative;
  padding: 0rem 1rem;
}
main .main-content #Skills .tech-stack .framework ol li::before {
  content: "";
  position: absolute;
  top: 43%;
  left: 3%;
  width: 8.5px;
  height: 8.5px;
  border-radius: 50%;
  background-color: rgb(2, 140, 219);
  margin-bottom: 1rem;
}
main .main-content #Skills .progress_b {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .main-content #Skills .progress_b .circular-progress,
main .main-content #Skills .progress_b .circular-progress-backend,
main .main-content #Skills .progress_b .circular-progress-framework {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-top: 0rem;
  position: relative;
  display: grid;
  place-items: center;
}
main .main-content #Skills .progress_b .circular-progress:before,
main .main-content #Skills .progress_b .circular-progress-backend:before,
main .main-content #Skills .progress_b .circular-progress-framework:before {
  content: "";
  position: absolute;
  height: 84%;
  width: 84%;
  background-color: rgba(0, 0, 0, 0.9647058824);
  border-radius: 50%;
}
main .main-content #Skills .progress_b .circular-progress .value-container,
main .main-content #Skills .progress_b .circular-progress .value-container-backend,
main .main-content #Skills .progress_b .circular-progress .value-container-framework,
main .main-content #Skills .progress_b .circular-progress-backend .value-container,
main .main-content #Skills .progress_b .circular-progress-backend .value-container-backend,
main .main-content #Skills .progress_b .circular-progress-backend .value-container-framework,
main .main-content #Skills .progress_b .circular-progress-framework .value-container,
main .main-content #Skills .progress_b .circular-progress-framework .value-container-backend,
main .main-content #Skills .progress_b .circular-progress-framework .value-container-framework {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #dbdbdb;
}
main .main-content #Skills button {
  margin-top: 0rem;
  margin-left: 5%;
  border: none;
  background-color: transparent;
  padding: 0.2rem 0;
  color: #fff;
  border-bottom: 3px solid #02e2aa;
}
main .main-content #Projects h2 {
  color: #fff;
  width: 200px;
  font-size: 1.5rem;
  margin: -3rem auto 0 auto;
  font-family: Consolas;
}
main .main-content #Projects h2::after {
  content: "";
  width: 150px;
  height: 3px;
  background-color: #02e2aa;
  margin-top: 0.3rem;
  margin-left: 1.2rem;
  position: absolute;
  display: block;
  border-bottom: 3px solid #02e2aa;
}
main .main-content #Projects h3 {
  margin-top: 1rem;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6980392157);
  font-family: Consolas;
}
main .main-content #Projects .projects_container .row .col-3 {
  width: 33.3%;
  height: 194px;
  overflow: hidden;
}
main .main-content #Projects .projects_container .row .col-3 .div-content {
  width: 100%;
  height: 99%;
  position: relative;
  overflow: hidden;
  padding: 0.3rem;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
main .main-content #Projects .projects_container .row .col-3 .div-content img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
main .main-content #Projects .projects_container .row .col-3 .div-content h6 {
  position: absolute;
  top: -20%;
  left: 15%;
  padding: 0.2rem 0;
  transition: 0.3s ease-in-out;
}
main .main-content #Projects .projects_container .row .col-3 .div-content h6 a {
  text-decoration: none;
  color: transparent;
}
main .main-content #Projects .projects_container .row .col-3 .div-content:hover {
  transform: scale(1.02);
}
main .main-content #Projects .projects_container .row .col-3 .div-content:hover img {
  border-radius: 5px;
  filter: blur(2px) brightness(60%);
}
main .main-content #Projects .projects_container .row .col-3 .div-content:hover h6 {
  top: 40%;
}
main .main-content #Projects .projects_container .row .col-3 .div-content:hover h6 a {
  color: #fff;
  text-shadow: 0px 1px 2px #000;
}
main .main-content #Contact .contact-info {
  width: 80%;
  margin: 1rem auto;
}
main .main-content #Contact .contact-info h2 {
  color: #fff;
  width: 200px;
  font-size: 1.5rem;
  margin: 1rem auto 0 auto;
  font-family: Consolas;
}
main .main-content #Contact .contact-info h2::after {
  content: "";
  width: 165px;
  height: 3px;
  background-color: #02e2aa;
  margin-top: 0.3rem;
  margin-left: 0rem;
  position: absolute;
  display: block;
  border-bottom: 3px solid #02e2aa;
}
main .main-content #Contact .contact-info h3 {
  margin-top: 1rem;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6980392157);
  font-family: Consolas;
}
main .main-content #Contact .contact-info .social-handles {
  width: 50%;
  margin: 0.3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .main-content #Contact .contact-info .social-handles .twitter-c, main .main-content #Contact .contact-info .social-handles .facebook-c, main .main-content #Contact .contact-info .social-handles .linkedin-c, main .main-content #Contact .contact-info .social-handles .whatsapp-c, main .main-content #Contact .contact-info .social-handles .google-c {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.3rem;
  border-radius: 4px;
}
main .main-content #Contact .contact-info .social-handles .twitter-c span, main .main-content #Contact .contact-info .social-handles .facebook-c span, main .main-content #Contact .contact-info .social-handles .linkedin-c span, main .main-content #Contact .contact-info .social-handles .whatsapp-c span, main .main-content #Contact .contact-info .social-handles .google-c span {
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
  filter: drop-shadow(0px 3px 4px #000);
}
main .main-content #Contact .contact-info .social-handles .twitter-c span:hover, main .main-content #Contact .contact-info .social-handles .facebook-c span:hover, main .main-content #Contact .contact-info .social-handles .linkedin-c span:hover, main .main-content #Contact .contact-info .social-handles .whatsapp-c span:hover, main .main-content #Contact .contact-info .social-handles .google-c span:hover {
  transform: scale(1.1);
}
main .main-content #Contact .contact-info .social-handles .twitter-c {
  background-color: #add8e6;
}
main .main-content #Contact .contact-info .social-handles .facebook-c {
  background-color: #0000ff;
}
main .main-content #Contact .contact-info .social-handles .linkedin-c {
  background-color: #263bf5;
}
main .main-content #Contact .contact-info .social-handles .whatsapp-c {
  background-color: #00b600;
}
main .main-content #Contact .contact-info .social-handles .google-c {
  background-image: linear-gradient(to bottom right, #ff0000, #fcfc02, #007706);
}
main .main-content #Contact .contact-info p {
  text-align: center;
  color: rgba(255, 255, 255, 0.6980392157);
  font-family: consolas;
  margin: 2rem 0;
  font-size: 1.3rem;
}

main .social_media {
  position: fixed;
  top: 2%;
  right: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
main .social_media .git {
  width: 45px;
  height: 45px;
  background-color: rgba(51, 51, 51, 0.5333333333);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .social_media .git span {
  font-size: 1.4rem;
  color: #02e2aa;
}

@media only screen and (max-width: 600px) {
  * {
    overflow-x: hidden;
    overflow-y: auto;
  }
  header .fixed {
    width: 100%;
    background-color: #0f0f0f;
    position: fixed;
    top: 0;
    z-index: 1;
  }
  header .header {
    height: 80px;
    transition: 0.3s ease;
  }
  header .header .navbar .logo {
    margin-left: -1rem;
    top: -2%;
  }
  header .header .navbar .logo img {
    width: 95px;
  }
  header .header .navbar .nav-links {
    float: left;
    position: absolute;
    left: 0%;
    height: 0px;
    width: 100%;
  }
  header .header .navbar .nav-links ul .tablinks {
    display: flex;
    flex-direction: column;
  }
  header .header .navbar button {
    display: block;
  }
  header .show {
    height: 250px;
  }
  header .show .navbar button {
    top: 3%;
    color: red;
  }
  header .show .navbar .nav-links {
    height: 200px;
    top: 24%;
  }
  main .main-content .showcase {
    width: 100%;
    flex-direction: column;
  }
  main .main-content .showcase .text {
    width: 100%;
  }
  main .main-content .showcase .profile {
    position: relative;
    width: 100%;
  }
  main .main-content .showcase .profile design img {
    margin-top: 0;
  }
  main .main-content .showcase .profile .prf-img {
    top: -5%;
    width: 100%;
  }
  main .main-content #Skills {
    margin-top: 4rem;
  }
  main .main-content #Skills h2 {
    margin-top: 7rem;
  }
  main .main-content #Skills .tech-stack {
    flex-direction: column;
  }
  main .main-content #Skills button {
    margin-bottom: 2rem;
  }
  main .main-content #Projects {
    margin-top: 4rem;
  }
  main .main-content #Projects .projects_container .row .col-3 {
    width: 100%;
    height: 154px;
  }
  main .main-content #Projects .projects_container .row .col-3 .div-content img {
    width: 100%;
    height: 100%;
  }
  main .main-content #Contact {
    margin-top: 4rem;
  }
  main .main-content #Contact .contact-info .social-handles {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */